<div class="container"  ng-controller="DashboardController">
  <center> <h4 class="text-success">{{successMessage+smartAddressToken}}</h4></center>
  <hr/>
  <div class="col-md-4 dashboard-left">
    <form name="smartAddress" class="form-horizontal">
      <div class="control-group" ng-class="{error: smartAddress.address.$invalid}">
        <label class="control-label" for="address"></label>
        <textarea rows="5" class="form form-control" ng-model="address.address" id="address" name="address" placeholder="Enter your Address" required></textarea>
      </div>
      <br/>
      <button ng-click="saveAddress()" ng-disabled="smartAddress.$invalid" class="btn btn-primary">
        Generate Smart Address Token <span class="glyphicon glyphicon-ok"></span>
      </button>
    </form>
  </div>
  <div class="col-md-6 dashboard-right dashboard-left" style="padding-right:30px;">
    <div class="row">
      <input class="form-control register pull-right" type="text" ng-model="search" class="search-query" placeholder="Filter">
      <h4 class="text-primary">Your Smart Addresses</h4>
      <hr/>
      <div ng-repeat="address in addressesData | filter:search | orderBy:'token'" ng-show="address._id.$oid">
        <!-- custom directive for addresses list -->
        <addresses-list address="address"></addresses-list>
        <!-- end-custom directive -->
      </div>
    </div>
  </div>
  <div class="col-md-2 dashboard-right">
    <h5 class="text-danger"><b>Registered Users</b></h5><hr/>
    <div ng-repeat="user in allUsersData | orderBy:'name'">
      <!-- custom directive for users list -->
      <users-list user="user"></users-list>
      <!-- end-custom directive -->
    </div>
  </div>
</div>
